:root {
  --base-color: #fafac6;
  --dark-color: #28231c;
  --primary-color: #5171a5;
  --secondary-color: #eb5160;
  --tertiary-color: #0c8346;
}

body {
  font-family: "Nunito", sans-serif;
  background: var(--base-color);
}

.logo {
    text-align:justify;
    border: #5171a5 thick double;
    padding: 4px;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
  margin-left: 10px !important;
}

nav a:hover, nav li.active a {
  color: var(--dark-color);
}

h1 {
  font-size: 96px;
  font-weight: bold;
  line-height: 1.5;
}

h2 {
  font-size: 50px;
}
h3 {
  font-size: 24px;
  font-weight: bold;
}

p {
  line-height: 30px;
}
.hero {
  margin-top: 20px;
  text-align: center;
  padding: 40px 20px;
}
.btn-branding {
  background: var(--primary-color);
  color: var(--base-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: var(--base-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 20px 60px;
}
img {
  border-radius: 10px;
}

.content-container {
  margin-top: 20px;
  text-align: center;
  padding: 40px 20px;
}
.content h1 {
  font-size: 55px;
}

.content h2 {
  font-size: 35px;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
}

@media (max-width: 992px) {
  nav a {
    font-size: 12px;
  }
  
    h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  .content h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 0 20px;
  }

  .project-description {
    padding: 10px;
    text-align: center;
  }

  .content-container img {
    width: 200px;
  }
}
